extends layout

block content
  #main
    #header.cf
      .logo
        h1 chrislyons.net
    //
       end header 
    script(type='text/x-handlebars', data-template-name='application')
      {{view App.NavView controllerBinding="controller.controllers.navController"}}
      <div id="content" class="cf">
      {{outlet}}
      </div>
    script(type='text/x-handlebars', data-template-name='nav')
      <div id="nav">
      <ul class="horizontal">
      <li><a href="#dev">DEVELOPMENT</a></a></li>
      <li><a href="#music">MUSIC</a></a></li>
      <li><a href="http://codepen.io/choochburger" target="_blank">SANDBOX</a></a></li>
      <li><a href="#about">ABOUT</a></a></li>
      <li class="divider"><a href="#contact">CONTACT</a></a></li>
      <li><a href="http://blog.chrislyons.net" target="_blank">BLOG</a></a></li>
      <li><a href="http://www.github.com/choochburger" target="_blank">GITHUB</a></a></li>
      </ul>
      </div>
    script(type='text/x-handlebars', data-template-name='tiles')
      {{#each tiles}}
      <a href="#" {{action "showContent" on="click" target="content"}}>
      <div class="tile" style="{{createBgUrl thumbnail_url}}">
      <div class="description">
      {{{description}}}
      </div>
      </div>
      </a>
      {{/each}}
    script(type='text/x-handlebars', data-template-name='about')
      <div class="about">
      <div class="blurb">
      <div class="me"></div>
      <p class="description cf">I'm a front-end developer and musician living in the Boston area. If you have a project you'd like to discuss, please <a href="#contact">get in touch</a>.</p>
      </div>
      <h3>A big, boring list of technologies that I work with <strong>a lot</strong>:</h3>
      <ul>
      <li>Javascript/Coffeescript</li>
      <li>HTML5</li>
      <li>CSS3/SCSS</li>
      <li>Actionscript 2/3, MXML, Flash Pro, Flash Builder, Eclipse, etc</li>
      <li>iOS, Objective-C, XCode, Phonegap</li>
      <li>Vim</li>
      </ul>
      <hr/>
      <h3>A smaller, but just as boring, list of techologies that I work with on occasion:</h3>
      <ul>
      <li>Ruby on Rails (this site)</li>
      <li>PHP</li>
      </ul>
      <hr/>
      <h3>Libraries and Frameworks that I enjoy using:</h3>
      <ul>
      <li>Backbone</li>
      <li>Ember (this site)</li>
      <li>Handlebars (this site)</li>
      <li>jQuery (this site)</li>
      <li>jQuery UI</li>
      <li>Underscore</li>
      <li>XUI</li>
      <li>Phonegap/Cordova</li>
      <li>Smarty</li>
      <li>Haml</li>
      </ul>
      <hr/>
      <h3>Past Clients:</h3>
      <ul>
      <li>Berklee College of Music/Berkleemusic.com</li>
      <li>Merrill Lynch</li>
      <li>ABC/Disney</li>
      <li>ImpulseSave</li>
      <li>Lost Jockey Productions</li>
      <li>Lenz Entertainment</li>
      <li>Barkley Studios</li>
      </ul>
      </div>
    script(type='text/x-handlebars', data-template-name='sandbox')
      <p>I hope to include experiments and other stuff here. Stay tuned.</p>
    script(type='text/x-handlebars', data-template-name='contact')
      <div class="contact">
      <h2>Email: chris [at] chrislyons.net</h2>
      <h2>Twitter: <a href="http://www.twitter.com/#!/choochburger" target="_blank">@choochburger</a></h2>
      </div>
    #jquery_jplayer_1.jp-jplayer
    #jp_container_1.jp-audio
      .flash-warning(style='display: none')
        | This browser requires the Flash plugin to play MP3 audio. Please enable it to listen.
      .jp-type-playlist
        .jp-gui.jp-interface
          ul.jp-controls
            li
              a.jp-play(href='javascript:;', tabindex='1') play
            li
              a.jp-pause(href='javascript:;', tabindex='1') pause
            li
              a.jp-stop(href='javascript:;', tabindex='1') stop
            li
              a.jp-mute(href='javascript:;', tabindex='1', title='mute') mute
            li
              a.jp-unmute(href='javascript:;', tabindex='1', title='unmute') unmute
            li
              a.jp-volume-max(href='javascript:;', tabindex='1', title='max volume') max volume
          .jp-progress
            .jp-seek-bar
              .jp-play-bar
          .jp-volume-bar
            .jp-volume-bar-value
          .jp-time-holder
            .jp-current-time
            .jp-duration
          #song_title
        .jp-no-solution
          span Update Required
          | To play the media you will need to either update your browser to a recent version or update your
          a(href='http://get.adobe.com/flashplayer/', target='_blank') Flash plugin
          | .
  #jplayer_spacer

  // bootstrapped data 
  script(type='text/javascript')
    window.cldn = window.cldn || { data: {} };

  script(type='text/javascript', src='/javascripts/data/music.js')
  script(type='text/javascript', src='/javascripts/data/dev.js')

  script(type='text/javascript', src='/javascripts/lib/jquery.js')
  script(type='text/javascript', src='/javascripts/lib/ember-latest.js')
  script(type='text/javascript', src='/javascripts/lib/jquery.jplayer.js')
  script(type='text/javascript', src='/javascripts/lib/shadowbox.js')

  script(type='text/javascript', src='/javascripts/app.js')
  script(type='text/javascript', src='/javascripts/scaffold.js')
