body {
  margin: 0;
  padding: 0;
  background-image: url("/images/bg.png");
}

/* preload images */
body:after {
  content: url('../images/music_skull.png') url('../images/music_bubble.png') url('../images/web_skull.png') url('../images/web_bubble.png');
  display: none;
}
/* ************** */

#music-skull {
  position: absolute;
  left: 60px;
  background: url('../images/music_skull.png') no-repeat;
  min-width: 224px;
  height: 306px;
  top: -306px;
}

#music-bubble {
  background: url('../images/music_bubble.png') no-repeat;
  display: none;
  height: 176px;
  left: 224px;
  min-width: 306px;
  position: absolute;
  width: 306px;
}

#web-skull {
  position: absolute;
  top: -310px;
  right: 10%;
  background: url('../images/web_skull.png') no-repeat;
  min-width: 215px;
  width: 215px;
  height: 310px;
}

#web-bubble {
  background: url('../images/web_bubble.png') no-repeat;
  display: none;
  height: 176px;
  min-width: 307px;
  position: absolute;
  right: 215px;
}
