body {
  margin: 0;
  padding: 0;
  background-image: url("/images/bg.png");
  font-family: georgia, serif;
}

.header {
  width: 836px;
  height: 30px;
  min-height: 30px;
  padding: 0;
  margin: 0px auto 4px;
}

#contentBlock {
  width: 836px;
  background-color: white;
  margin: auto;
  border: 1px solid #bbb;
  -moz-border-radius: 12px;
  border-radius: 12px;
  -moz-box-shadow: 3px 3px 3px #ccc;
  -webkit-box-shadow: 3px 3px 3px #ccc;
  box-shadow: 3px 3px 3px #ccc;
}

#contentBlockHeader {
  width: 796px;
  margin: auto;
  color: #fff;
  background-image: url("/images/bg_green.png");
  padding: 10px;
  margin-top: 12px;
}

.avatar {
  float: left;
  margin-right: 8px;
}

.collapsedList {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
  text-indent: 0;
}

.collapsedList li {
  float: left;
  padding: 14px;
}

.contentItem {
  width: 250px;
  height: 196px;
}

.description {
  width: 250px;
  height: 196px;
  top: -200px;
  position: relative;
  background: #fff;
  border: 1px solid #ccc;
  display: none;
  -moz-box-shadow: 1px 1px 1px #ccc;
  -webkit-box-shadow: 1px 1px 1px #ccc;
  box-shadow: 1px 1px 1px #ccc;
}
