body {
  margin: 0;
  padding: 0;
  background-image: url("/images/bg.png");
  font-family: georgia, serif;
}

.clear {
  clear: both;
}

.header {
  width: 836px;
  height: 30px;
  min-height: 10px;
  padding: 0 0 2px 0;
  margin: 0px auto 4px;
  font-size: 18px;
  color: #222;
}

#contentBlock {
  width: 856px;
  background-color: white;
  margin: auto;
  border: 1px solid #bbb;
  -moz-border-radius: 12px;
  border-radius: 12px;
  -moz-box-shadow: 3px 3px 3px #ccc;
  -webkit-box-shadow: 3px 3px 3px #ccc;
  box-shadow: 3px 3px 3px #ccc;
}

#contentBlockHeader {
  width: 796px;
  margin: auto;
  color: #fff;
  background-image: url("/images/bg_green.png");
  padding: 10px;
  margin-top: 12px;
}

.content {
  width: 846px;
  padding: 0;
  margin: 0;
  margin: auto;
}

.avatar {
  float: left;
  margin-right: 8px;
}

.collapsedList {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
  text-indent: 0;
}

.collapsedList li {
  float: left;
  padding: 15px;
}

.contentItem {
  width: 250px;
  height: 196px;
  border: 1px solid #eee;
}

.description {
  width: 250px;
  height: 196px;
  top: -200px;
  position: relative;
  background: #fff;
  border: 1px solid #ccc;
  display: none;
  text-align: center;
  -moz-box-shadow: 1px 1px 1px #ccc;
  -webkit-box-shadow: 1px 1px 1px #ccc;
  box-shadow: 1px 1px 1px #ccc;
  cursor: pointer;
}

/* clears the list so background will extend all of the way down */
.clearList {
  clear: both;
}

/* jPlayer is setting a black background on the flash player in older browsers
 * overriding that here */
#player {
  background-color: #fff !important;
}

#song-title {
  color: white;
  font-size: 12px;
  font-weight: bold;
  margin: 0;
  text-align: center;
  text-shadow: 2px 2px 2px #333;
}

/* footer is to mainly make sure that jPlayer doesn't obscure any content */
#footer {
  display: block;
  height: 80px;
  min-height: 80px;
  width: 600px;
}
