<%= link_to music_path do %>
  <div id="music-skull">
    <div id="music-bubble"></div>
  </div>
<% end %>

<%= link_to web_path do %>
  <div id="web-skull">
    <div id="web-bubble"></div>
  </div>
<% end %>
