<div id="contentBlock">

  <% @items.each do |item| %>
    <ul class="contentList"> 
      <li>
        <%= image_tag(item.thumbnail_link) %>
      </li>
    </ul>
  <% end %>
<div style="clear: both"/>
</div>
