<div id="contentBlock">

  <div id="contentBlockHeader">
    <%= image_tag("/images/me.png", :class => "avatar") %>
    <p>Hey everyone, thanks for dropping in and checking out my stuff. I'm mainly an AS3/Flash platform developer, but I also do quite a bit with Objective-C/iOS, Javascript, CSS, PHP, and Rails too. Below are a few samples of my work.'</p>
  </div>

  <%= render :partial => "shared/content", :locals => { :items => @items } %>
  
