<div id="contentBlock">

  <div id="contentBlockHeader">
    <%= image_tag("/images/me.png", :class => "avatar") %>
    <p>Hey everyone, thanks for dropping in and checking out my stuff. I do a ton of AS3/Flash platform development, but I also do quite a bit with Objective-C/iOS, Javascript, CSS, PHP, and Rails too. Below are a few samples of my work.</p>
  </div>
  
  <ul class="collapsedList"> 

    <% @items.each do |item| %>
        <li>
          <div class="contentItem">
            <%= image_tag(item.thumbnail_url) %>
            <div class="description">
              <p class="invisible"><%= item.description %></p>
            </div>
          </div>
        </li>
    <% end %>
    
  </ul>
  
  <div style="clear: both"/>
</div>
