<%= render :partial => "shared/header" %>

<div id="contentBlock">

  <div id="contentBlockHeader">
    <%= image_tag("/images/me.png", :class => "avatar") %>
    <p>Below are a few examples of my programming work. Lately I've been coding a lot of Javascript, Objective-C, and AS3, but I also enjoy working with PHP and Rails too.</p>
    <div class="clear"></div>
  </div>

  <%= render :partial => "shared/jplayer" %>
  <%= render :partial => "shared/content", :locals => { :items => @items } %>
