<!DOCTYPE html>
<html>
<head>
  <title>chrislyons.net</title>
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tag %>
</head>
<body>
  <div id="main">
    <div id="header" class="cf">
      <div class="logo">
        <h1>chrislyons.net</h1>
      </div>
    </div> <!-- end header -->

    <%= yield %>

  </div>

</body>
</html>
